*{
    margin: 0;
    padding: 0; 
    box-sizing:border-box;
}
nav{
  height: 80px;
  width: 100%;
  background: rgb(231, 154, 32);
  
}
.logo{
    line-height: 80px;
    margin: 0px 60px;
    color: white;
    font-size: 20px;
}
ul{
  float: right; 
  list-style-type: none; 
  margin-right: 60px;
}
ul li{
    line-height: 80px;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    padding: 8px 20px;
}
.hero{
    height: 100vh;
    width: 100%;
    background: #d37878;
}
.active,ul li a:hover{
    border: 1px solid gold;
    background: #706e6e;
    border-radius: 5px;
}
#checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 20px;
    font-size: 25px;
    color: white;
    display: none;
}
#check{
    display: none;
}
#check:checked~ul{
    left:70%;
}
@media screen and (max-width:772px) {
    #checkbtn{
        display:block;
    }
    ul{
        width:30%;
        height:60vh;
        background: #000
        ; border-radius: 8px;
        position: fixed;
        top: 80px;
        left: -100%;
        transition: 0.5s;
      
    }
    ul li{
        display: block;
        text-align: center;
    }
}
@media screen and (max-width:302px) {
    .logo{
        font-size:18px;
        margin: 0px 30px;
    }
}